<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rick and Morty Web App</title>
</head>
<body>

<header>
    <menu>
        <item>Personagens</item>
        <item>Locais</item>
        <item>Episodios</item>
    </menu>
</header>

<div>
    <h1>Rick and Morty We App</h1>
    <p>
        Bem vindo ao projeto didático para desenvolvimento de aplicações web utilizando o framework
        Flask junto a ferramenta ORM SQLAlchemy
    </p>
</div>

<footer>
    <p>{{ now }}</p>
</footer>

</body>
</html>